body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Mono', monospace;
    background: url('/public/1333028.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #f2f5f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 650px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    width: 70%;
    margin-right: 10px;
}

#search-btn {
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #117703;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
}

#search-btn:hover {
    background-color: #0d5800;
}

#result h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}

.error {
    color: red;
    margin-top: 20px;
}

.dataRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dataRow h4 {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
}

.dataRow span {
    font-size: 15px;
    word-wrap: break-word;
}

.flagImage {
    width: 100%;
    height: auto;
    border: 1px solid #ced4da;
    margin-bottom: 20px;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    margin-bottom: 10px;
}

li h3 {
    margin: 0;
    font-size: 18px;
}

li p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

li a {
    color: #117703;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}
